.row{
  margin: auto;
  width: 100%;
}
.margin_body{
  margin: auto;
  width: 70%;
}

/* utlity */
.navbar-default .navbar-nav > li > a {
  color: #fffdfd;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #fffdfd;
  background-color: grey;
}
.navbar-default .navbar-brand{
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.color_white{
  color: white;
}
.color_blue{
  color: #2c3e50;
}
.mt_30{
  margin-top: 30px;
}
.mb_30{
  margin-bottom: 30px;
}
.mt_100{
  margin-top: 100px;
}
.container_blue{
  width: 100%;
  background-color: #2c3e50;
  border: 0;
  padding: 30px 0;
}
.container_green{
  background-color: #1abc9c;
}
/* utlity */

#img_profilo{
  height: 200px;
  margin-bottom: 50px;
}
.jumbotron{
  text-align: center;
  background-color: inherit;
}
.container_stella i{
  font-size: 20px;
}
.container_stella hr{
  border: 2px solid;
  line-height: 20px;
  vertical-align: middle;
}
.stella_inline_block{
  display: inline-block;
  width: 150px;
}
.top_main h1,.top_main hr,.top_main p,.top_main i{
  color: white;
}
.container_img{
  background: red;
  margin: auto;
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
.center_main .row{
  margin-top: 30px;
}
.center_main{
  margin-bottom: 50px;
}
.section_about{
  height: 500px;
  background-color: #1abc9c;
}
.title_about{
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
}
.p_about{
  font-weight: bold;
}
.section_conctact{
  height: 500px;
}
.btn_inherit_border_white{
  color: white;
  font-weight: bold;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 10px;
}
.blocco .col-lg-4{
  background-color: red;
  height: 200px;
  padding: 10px;
}
.card{
  padding: 10px;
  background-color: white;
}
.section_footer_1{
  background-color: #3a546d;
  color:white;
}
.section_footer_2{
  background-color: #2c3e50;
  color:white;
}
